---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import BlogCard from "../../../components/BlogCard.astro";
import TagCloud from "../../../components/TagCloud.astro";
import { getCollection } from "astro:content";

const { tag } = Astro.params;

if (!tag) {
  throw new Error("Tag is required");
}

const posts = await getCollection("blog");
const sortedPosts = posts.sort(
  (a: any, b: any) =>
    new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
);

const tagPosts = sortedPosts.filter((post) => post.data.tags?.includes(tag));
---

<BaseLayout title="Blog">
  <h1 class="text-4xl font-bold mb-8">Blog Posts</h1>
  <TagCloud />
  <div class="grid gap-8 md:grid-cols-2 mt-4">
    {
      tagPosts.map((post: any) => (
        <BlogCard
          title={post.data.title}
          description={post.data.description}
          pubDate={post.data.pubDate}
          url={`/blog/${post.slug}`}
          tags={post.data.tags}
        />
      ))
    }
  </div>
</BaseLayout>
