---
import BlogCard from "./BlogCard.astro";
import Search from "./Search.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
const latestPost = posts.sort(
  (a: any, b: any) =>
    new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
)[0]; // Get only the first post after sorting
---

<div id="container">
  <main class="flex flex-col h-screen">
    <div class="flex flex-col items-center justify-center">
      <h1 class="text-6xl font-bold">blog.zzyzx</h1>
      <p class="text-lg mt-10">
        Welcome to my tech blog about frontend development, SharePoint and more.
        I have no idea if Im going to keep this up, but I'm going to try...
        Right now this blog is mainly a Astro/Netlify test.
      </p>
    </div>

    <div>
      <h2 class="text-2xl font-bold mt-10">Latest Post</h2>
      <div class="grid gap-8 md:grid-cols-2 mt-6">
        <BlogCard
          title={latestPost.data.title}
          description={latestPost.data.description}
          pubDate={latestPost.data.pubDate}
          url={`/posts/${latestPost.slug}`}
          tags={latestPost.data.tags}
          generateExcerpt={false}
          content={latestPost.body}
          image={latestPost.data.image}
          featured={true}
        />
      </div>
    </div>
    <div class="mt-10">
      <Search />
    </div>
  </main>
</div>
